<ul display = "grid">
  <% @tasks.each do |task| %>
    <li><input type = checkbox
    <%= "checked" if task.completed == true %>>
    <%= link_to(task.title, task_path(task)) %>
    <%= link_to "🗑",task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </li>

  <% end %>
</ul>

<%= link_to("créer", new_task_path) %>
